<h1> Insira seus Dados</h1>

<form>
  <div class="form-group">
    <label for="Nome">Nome</label>
    <input type="nome" class="form-control" id="userNome"  placeholder="Seu Nome">
  </div>

  <div class="form-group">
    <label for="usuario">Usuário</label>
    <input type="usuario" class="form-control" id="userUser"  placeholder="Seu Usuário">
  </div>

  <div class="form-group">
    <label for="senha">Senha</label>
    <input type="password" class="form-control" id="userSenha"  placeholder="Mínimo de 6 caracteres" >
  </div>

  <button  onclick="btnEnvDados()"  class="btn btn-outline-success">Inserir</button>
</form>

